@{
    ViewBag.Title = "Home Page";
}

<div ng-app="ngApp" ng-controller="MyController">

    <br />

    {{prueba}}

    <input type="button" value="GET" ng-click="btnGet()" />
    <input type="button" value="POST" ng-click="btnPost()" />

</div>